@{
    ViewBag.Title = "Index";
}

<header>
    <link rel="stylesheet" type="text/css" href="~/Contents/HomeStyle.css" />
</header>

<h1 id="header">BLOOD DONORS HUB</h1>

<body> 
    <form id="form1" >        
          
                <div id="navcontainer">
                <ul id="#nav li">
                            <li><a href="/Register/Registration">Register</a></li>
                            <li><a href="/Login/Login">Login</a></li>
                 </ul>
                </div>      
                
                <div id="content_area">
                    <p> Blood Donation is service to Humankind,By Donating Blood you help a needy and save a precious life.
                        Transfusion of blood every year saves Millions of life all over the world every year</p>
                    <p>1.The blood you donate gives someone another chance at life. One day that someone may be a close relative, a friend, a loved one—or even you.</p>
                    <p>2.A life may depend on a gesture from you, a bottle of Blood.</p>
                    <p>3.To give blood you need neither extra strength nor extra food,and you will save a life.</p>
                    <p>4.Do you feel you don’t have much to offer? You have the most precious resource of all: the ability to save a life by donating blood! Help share this invaluable gift with someone in need.</p>
                    <p>5.Blood Donation will cost you nothing but it will save a life!</p>
                    <p>6.If you’re a blood donor, you’re a hero to someone, somewhere, who received your gracious gift of life.</p>
                    <p>7.The finest gesture one can make is to save life by donating Blood.</p>
                    <p>8.Tears of a mother cannot save her Child. But your Blood can.</p>
                    <p>9.The Blood Donor of today may be recipient of tomorrow.</p>
                    <p>10.To the young and healthy it’s no loss. To sick it’s hope of life. Donate Blood to give back life.</p>
                </div>

                <div id ="footer">
                  <p>&#169 Copyright 2014. All Rights Reserved.</p>
                </div>
    </form>
</body>