body {
    font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
    background-image: url(../Images/bar_background.png);
}

#header {
    padding: 10px;
    border: 3px solid #851818;
    text-align: center;
    text-shadow: 0.1em 0.1em #000;
    color: #f00;
    height: 150px;
    font-family: 'Trebuchet MS';
    background-image: url('../Images/blood-banner.jpg');
    background-size: 600px auto;
    font-size: xx-large;
    background-repeat: no-repeat;
}

#content_area {
    display: block;
    width: auto;
    text-align: justify;
    height: 450px;
    
    padding: 10px;
    border: 3px solid #851818;
    color: #000;
    text-shadow: 0.1em 0.1em #333;
    background-image: url(../Images/bar_background.png);
    margin-top:30px;
    margin-bottom:5px;
}

#footer {
    height: 40px;
    padding: 10px;
    border: 3px solid #851818;
    text-align: center;
    color: #000;
    text-shadow: 0.1em 0.1em #333;
    background-image: url(../Images/bar_background.png);
}

#navcontainer ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: end;
}

    #navcontainer ul li {
        display: inline;
    }

        #navcontainer ul li a {
            text-decoration: none;
            padding: .2em 1em;
            color: #000;
            background-color: #f00;
            font-size: large;
        }

            #navcontainer ul li a:hover {
                color: #fff;
                background-color: #f00;
            }

.label /*label class*/ {
    margin-left: 20px;
    text-align: left;
    width: 150px;
    display: inline-block;
    
}

.textbox /*textbox class*/ {
  
    width: 150px;
}

.submit /*submit button class*/ {
    font-size: large;
    font-weight: bold;
    font-family: 'Trebuchet MS';
    margin-left: 100px;
}

#Error 
{
    font-family:Arial;
    font-size:large;
    color:red;
}