body {
    background-color: black;
    width: 90%;
    margin-left: 5%;
    margin-top: 2%;
}

#Boundary {
    background-color: black;
    margin-left: 5%;
    margin-right: 5%;
}

#h1 {
    background: url(../Images/logo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-position-x: left;
}


#ImageSlider {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2%;
    height: 40%;
    padding-top: 10%;
    background: url('../Images/blood.drop.jpg') no-repeat;
    position: relative;
    border: thin;
    border-color: red;
}

#NavigationTab {
    padding-left: 5%;
    padding-right: 5%;
    background-color: black;
    opacity: 0.6;
    height: 13%;
    bottom: 0;
    position: absolute;
    right: 15%;
    left: 15%;
}

#NavigationList {
    padding-left: 1%;
    padding-right: 1%;
    padding-bottom: 1%;
    padding-top: 1%;
    text-align: center;
}


#NavigationTab ul li {
    display: inline;
    padding-left: 4%;
    padding-right: 4%;
    border-right: 1px solid white;
    font-family: 'Trebuchet MS';
}

    #NavigationTab ul li a {
        color: white;
        font-size: large;
    }

        #NavigationTab ul li a:hover {
            color: green;
        }

#Content_Area {
    width: 90%;
}

h2 {
    font-family: 'Trebuchet MS';
    font-weight: bold;
    color: green;
}

p {
    font-family: 'Trebuchet MS';
    font-weight: 400;
    color: white;
}

#footer {
    height: 30px;
    text-align: center;
    color: white;
    font-size: small;
    position: relative;
}

.Vertical {
    border-left: 1px solid green;
    margin-top: 30px;
    margin-right: 20px;
    margin-left: 20px;
}

.submit /*submit button class*/ {
    font-size: large;
    font-weight: bold;
    font-family: 'Trebuchet MS';
    margin-left: 100px;
    background-color: green;
    color: black;
    border-color: green;
}

    .submit:hover {
        color: blue;
    }


.label /*label class*/ {
    margin-left: 20px;
    text-align: left;
    width: 100px;
    display: inline-block;
    color: white;
    font-family: 'Trebuchet MS';
}

.textbox /*textbox class*/ {
    width: 150px;
}
